@import '~@angular/material/theming';
@include mat-core();
.dark-theme {
  $app-dark-primary: mat-palette($mat-blue, 700);
  $app-dark-accent: mat-palette($mat-blue-grey);
  $app-dark-warn: mat-palette($mat-red);
  $app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);

  @include angular-material-theme($app-dark-theme);
}

.dark-theme {
  text {
    fill: white !important;
  }

  line {
    stroke: #5e5e5e !important;
  }
}
