<div class="inherit">
  <ngx-charts-line-chart *ngIf="graph" class="inherit"
                         [scheme]="graph.color"
                         [results]="graph.chartData"
                         [xAxis]="showXAxis"
                         [yAxis]="true"
                         [showYAxisLabel]="true"
                         [xAxisLabel]="graph.xAxisName"
                         [yAxisLabel]="graph.yAxisName"
                         [yScaleMin]="graph.min"
                         [yScaleMax]="graph.max"
                         [animations]="false">
  </ngx-charts-line-chart>
</div>
