<div class="inherit">
  <ngx-charts-line-chart *ngIf="graphInfo" class="inherit"
                         [scheme]="graphInfo.color"
                         [results]="graphInfo.chartData"
                         [xAxis]="showXAxis"
                         [yAxis]="true"
                         [showYAxisLabel]="true"
                         [xAxisLabel]="graphInfo.xName"
                         [yAxisLabel]="graphInfo.yName"
                         [yScaleMin]="graphInfo.min"
                         [yScaleMax]="graphInfo.max"
                         [animations]="false">
  </ngx-charts-line-chart>
</div>
