.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 20px;
}


