<mat-grid-list [cols]="cols" rowHeight="4:3" gutterSize="10" (window:resize)="onResize()">
  <div *ngFor="let graph of graphs">
    <mat-grid-tile id="{{graph.title}}" class="tile mat-elevation-z6">
      <mat-card class="mat-elevation-z6 card-style">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" matTooltip="doggo"></div>
          <mat-card-title>{{graph.title}}</mat-card-title>
          <mat-card-subtitle>{{graph.units}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="inherit">
          <app-graph [showXAxis]="cols !== 1" [graphInfo]="graph" class="inherit"></app-graph>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
