<mat-grid-list [cols]="2">
  <div *ngFor="let tile of tiles">
    <mat-grid-tile [colspan]="tile.columns" [rowspan]="tile.rows" class="tile mat-elevation-z6">
      <mat-card class="card-style mat-elevation-z6">
        <mat-card-header>
          <div mat-card-avatar *ngIf="tile.icon"><img src="assets/{{tile.icon}}"/></div>
          <mat-card-title>{{tile.name}}</mat-card-title>
          <mat-card-title *ngIf="tile.subName">{{tile.subName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content [ngSwitch]="tile.type">
          <app-graph *ngSwitchCase="'Graph'" [graph]="tile.data"></app-graph>
          <span *ngSwitchCase="'NumberDisplay'">{{tile.data.label}}</span>
          <mat-error *ngSwitchDefault>Cannot find type</mat-error>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
