<mat-grid-list [cols]="view.cols" gutterSize="8px" *ngIf="view">
  <mat-grid-tile *ngFor="let tile of view.tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                 class="test mat-elevation-z6">
    <mat-card class="max-size mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar *ngIf="tile.icon">img</div>
        <mat-card-title>{{tile.name}}</mat-card-title>
        <mat-card-title *ngIf="tile.sub">{{tile.sub}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="max-size" [ngSwitch]="tile.type">
        <app-graph class="max-size" *ngSwitchCase="'Graph'" [graphProperties]="tile.data"></app-graph>
        <app-number class="max-size" *ngSwitchCase="'NumberDisplay'" [numberProperties]="tile.data"></app-number>
        <mat-error *ngSwitchDefault>Cannot find type</mat-error>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
