<div [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <button aria-label="Open Side Menu" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>

      <span class="spacer"></span>

      <div *ngIf="isHome">
        <button mat-button [matMenuTriggerFor]="viewSelector">View: {{selectedView.name}}</button>
        <mat-menu #viewSelector="matMenu">
          <button mat-menu-item *ngFor="let view of configService.getViews" (click)="changeView(view)">{{view.name}}
          </button>
        </mat-menu>
      </div>

      <button aria-label="Switch Theme" mat-icon-button
              matTooltip="Activate {{!isDarkTheme ? 'Dark Theme' : 'Light Theme'}}" (click)="switchTheme()">
        <svg *ngIf="!isDarkTheme" class="mat-icon material-icons">
          <path
            d="M12.7 2C7.33 2.15 3 6.57 3 12c0 5.52 4.48 10 10 10 3.52 0 6.6-1.82 8.4-4.56h-.3c-5.52 0-10-4.48-10-10 0-2 .6-3.87 1.6-5.44z"></path>
        </svg>
        <mat-icon *ngIf="isDarkTheme">wb_sunny</mat-icon>
      </button>
      <button *ngIf="isHome" aria-label="Switch Graph Mode" mat-icon-button matTooltip="Switch Mode"
              (click)="switchGraphMode()">
        <mat-icon>swap_calls</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" id="sidenav">
      <button [routerLink]="['']" color="accent" mat-raised-button (click)="sidenav.close()">
        Home
      </button>
      <br>
      <button [routerLink]="['/review-data']" color="accent" mat-raised-button
              (click)="sidenav.close()">Review Data
      </button>
      <br>
      <button [routerLink]="['/calculator']" color="accent" mat-raised-button
              (click)="sidenav.close()">Calculator
      </button>
      <br>
      <span class="spacer"></span>
      <button *ngIf="!isLoggedIn" color="accent" mat-raised-button (click)="this.openLogin()">Login</button>

      <button *ngIf="isLoggedIn" [routerLink]="['/admin']" color="accent" mat-raised-button
              (click)="sidenav.close()">Admin
      </button>
      <br *ngIf="isLoggedIn">
      <button *ngIf="isLoggedIn" color="accent" mat-raised-button (click)="this.logout()">Logout</button>
      <span class="bottom-spacer"></span>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
