<div [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <svg fill="#FFFFFF" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
      </svg>
    </button>
    {{title}}
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" id="sidenav">
      <button [routerLink]="['']" class="sidenav-button" color="accent" mat-raised-button (click)="sidenav.close()">Home</button>
      <br><br>
      <button [routerLink]="['/review-data']" class="sidenav-button" color="accent" mat-raised-button (click)="sidenav.close()">Review Data</button>
      <br><br>
      <button [routerLink]="['/admin']" class="sidenav-button" color="accent" mat-raised-button (click)="sidenav.close()">Admin</button>
      <br><br>
      <button class="sidenav-button" color="accent" mat-raised-button (click)="switchTheme()">Switch Theme</button>
    </mat-sidenav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</div>
