<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>

      <span class="spacer"></span>

      <button mat-icon-button matTooltip="Refresh UI" matTooltipPosition="left" (click)="communicator.refreshUI()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button *ngIf="!admin" color="accent" mat-raised-button (click)="openLogin()">Login</button>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" id="sidenav">
      <button [routerLink]="['']" color="accent" mat-raised-button (click)="sidenav.close()">
        Home
      </button>
      <br>
      <button [routerLink]="['/review-data']" color="accent" mat-raised-button
              (click)="sidenav.close()">Review Data
      </button>
      <br>
      <button *ngIf="admin" [routerLink]="['/admin']" color="accent" mat-raised-button
              (click)="sidenav.close()">Admin
      </button>
      <br *ngIf="admin">
      <button class="sidenav-button bottom" color="accent" mat-raised-button (click)="switchTheme()">Switch Theme
      </button>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
