<h1 mat-dialog-title>Save recording as?</h1>

<form [formGroup]="form" novalidate>
  <mat-dialog-content>
    <mat-form-field style="width: 100%">
      <input matInput formControlName="filename" placeholder="Filename">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="save()"
            [disabled]="!form.controls.filename.valid">Save
    </button>
    <button mat-raised-button color="accent" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>

  <div *ngIf="!form.controls.filename.valid">
    <mat-error>Invalid Characters \ / : ? < > | * "</mat-error>
  </div>
</form>
